@media only screen and (min-width: 800px) {
    .placecards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
      }

      .placecards div {
        display: grid;
        grid-template-areas: 
        "name"
        "photograph"
        "address"
        "cost";
      }

      .placecards img {
        width: 100%;
      }
}