@media only screen and (min-width: 500px) {
    .discover_card {      
        display: grid;
        grid-template-areas: 
        "photograph name"
        "photograph address"
        "photograph cost";
      }

      .discover_card img {
        width: 300px;
      }
}