@media only screen and (min-width: 500px) {
  .logo img {
    width: 25px;
}

.logo p {
    font-size: 16px;
}

    nav {
		width:70% !important;
		margin: 0;
	}

    #menu {
		display: none; 
	}

    .navigation {
        position: static;
        display: flex !important;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        background-color: transparent;
        width: auto;
        margin-left: auto;
      }
    
      .navigation a {
        display: block;
        padding: 0.5rem 1rem;
        color: var(--contrast);
        text-align: center;
      }
    
      .navigation.open {
        display: flex;
      }


      .hero img {
        height: 500px;
      }

      section p {
        margin: 0 auto;
        text-align: center;
        max-width: 70%;
        font-size: 15px;
      }

      .search-section {
        margin: 2rem 0;

      }

      .search-section h2, #search-form, .history_cont {
        margin: 0 auto;
        width: 87%;
      }

    #results {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        padding: 20px;
      }
    
      .book-card {
        width: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 300px; 
      }
    
      .book-card img {
        height: 180px; 
        object-fit: cover;
        border-radius: 4px;
      }
    
      .book-title {
        font-size: 14px;
        margin-top: 10px;
      }
    
      .book-author {
        font-size: 12px;
      }

      dialog {
        margin: 5rem auto;
      }


      /* ********* CONTACT PAGE ********* */

  .contact {
    padding: 1.5rem;
  }

  .contact h2 {
    font-size: 1.5rem;
  }

}